<head>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/katex.min.css" crossorigin="anonymous">
	<script defer src="{{ .Site.BaseURL }}js/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
	<script defer src="{{ .Site.BaseURL }}js/auto-render.min.js" integrity="sha384-kWPLUVMOks5A QFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
</head>
